{% extends "layout.html" %}
{% block body %}

<h1>About the California Drought</h1>
<h3>
Just recently, Governor Jerry Brown declared California a drought state. The lack of rain, global warming, and the over use of fossil fuels, among other things as led us to this tragic state. Unless we take a personal importance in trying to resolve this drought problem, the next generations to come will only blame us for the poor condition we have left the world. I've created this application in the hopes that people will be more conscious about their water consumption. Just like a calorie counting application, which suprises people with the amount of food that they eat when they actually keep count, this application will allow people to take an active and enlightened role in their water usage.
</h3>

{% endblock %}