{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
	{% if adminmode %}
	<h1>This is your water log, Admin</h1>
	{% endif %}

  <table class="table">  
        <thead>  
          <tr> 
            <th>Activity</th>  
            <th>Time</th>
            <th>Level</th>   
          </tr>  
        </thead> 
        {% for entry in entries %} 
        <tbody>  
          <tr>  
            <td>{{ entry.currenttask }}</td>  
            <td>{{ entry.currenttime }}</td>  
            <td>{{ entry.currentproperty }}</td>  
          </tr>  
        </tbody>   
        {% endfor %}
  </table>

  </br>
  <h1>Graphical Perspective</h1>

  <script type="text/javascript">
    var names = {{ ctlistnames_short|safe }};
    var dataset = {{ ctlistnumbers|safe }};
    
  </script>

{% endif %}

{% endblock %}