{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
	{% if adminmode %}
	<h1>This is your water log, Admin</h1>
	{% endif %}

	<table class="table">  
        <thead>  
          <tr>  
            <th>Date</th>  
            <th>Watering Garden</th>  
            <th>Laundry</th>  
            <th>Dishwasher</th>
            <th>Shower</th>   
          </tr>  
        </thead> 
        {% for entry in entries %} 
        <tbody>  
          <tr>  
          	<td>Today</td>
            <td>{{ entry.WaterGardenTime }} minutes (Level: {{ entry.WaterGardenLevel }})</td>  
            <td>{{ entry.WasherTime }} minutes (Water Level: {{ entry.WasherCycle }})</td>  
            <td>{{ entry.DishwasherTime }} minutes (Cycle: {{ entry.DishwasherCycle }})</td>  
            <td>{{ entry.ShowerTime }} minutes</td>  
          </tr>  
        </tbody>   
        {% endfor %}
	</table>
{% endif %}

{% endblock %}