{% extends "layout.html" %}
{% block body %}

<h1>Water Conservation Tips</h1>
<h3>
	Below are some awesome websites where you can learn more about how to save water!
</br>
	<li><a href="http://wateruseitwisely.com/100-ways-to-conserve/">100 Ways to Conserve Water</a>
	<li><a href="http://eartheasy.com/live_water_saving.htm">25 Ways to Conserve Water in the Home and Yard</a>
	<li><a href="http://water.epa.gov/polwaste/nps/chap3.cfm">How to conserve water and use it Effectively</a>
</h3>
{% endblock %}